<div class="container mb-4">
  <div class="row justify-content-center   m-1 g-0">
    <div class="col-md-6 col-sm-8 col-xl-4 col-lg-5 formulario">

      <form action="/users/signin" method="POST">
        <div class="user-img text-center">
          <img src="/img/logo.png" class="logo">
        </div>
        <h1 class="text-center letra fw-bold mb-2">Bienvenido</h1>
        <div class="mb-3">
          <label for="email1" class="form-label fw-bold">Correo Electrónico:</label>
          <input type="email" class="form-control" placeholder="Ingresa tu @email" id="email" name="email"
            aria-describedby="emailHelp" autofocus>
        </div>
        <div class="mb-3">
          <label for="password1" class="form-label fw-bold">Contraseña:</label>
          <input type="password" class="form-control mb-2 " placeholder="Ingresa tu contraseña" id="password1" name="password">
          <a href="#" id="password" class="olvide form-text p-4 text-primary">¿Has olvidado tu
            contraseña?</a>
        </div>
        <div class="mb-2 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="fw-bold form-check-label" for="exampleCheck1">Recordarme:</label>
        </div>
        <button type="submit" class="olvide1 fw-bold btn btn-primary w-100">INICIAR SESIÓN</button>
        <div class="text-center pt-3">
          <a class="crea fw-bold text-success" href="/users/signup">¿Todavia no tienes una cuenta?</a>
        </div>
        <div class="pt-3">
          <p class="fw-bold text-center"> &copy; ECUAPETS 2022</p>
        </div>
      </form>

    </div>
  </div>
</div>
</div>
</div>