<div class="container-sm p-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-3 d-none d-md-block">
      <img src="/img/secu.png" class="w-100">
    </div>
    <div class="col-9">
      <div class="row justify-content-md-center">
        <div class="col p-1">
          <div class="card formulario text-white">
            <div class="row">
              <div class="col-md-6 text-center">
                <a href="/users/signup"><img src="/img/user.png" class="w-50" alt="..."></a>
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title text-black letra fw-bold">Registra Usuario</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col p-1">
          <div class="card formulario text-white">
            <div class="row">
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title card-title text-black letra fw-bold">Registra Mascotas</h5>
                </div>
              </div>
              <div class="col-md-6 text-center">
                <a href="/mascotas/agregar"><img src="/img/mas.png" class="w-50" alt="..."></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row  justify-content-md-center">
        <div class="col p-1">
          <div class="card formulario text-white">
            <div class="row">
              <div class="col-md-6 text-center">
                <a href="/mascotas/reportadas"><img src="/img/per.png" class="w-50" alt="..."></a>
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title card-title text-black letra fw-bold">Mascotas Perdidas</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col p-1">
          <div class="card formulario text-white">
            <div class="row">
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title card-title text-black letra fw-bold">Generador de QR</h5>
                </div>
              </div>
              <div class="col-md-6 text-center">
                <a href="/mascotas"><img src="/img/gqr.png" class="w-50" alt="..."></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>