<div class="p-3 text-light d-flex justify-content-center">
  <div class="r">
    <div class="w-50 mx-">
      <img src="/img/logo.png" class="w-60 mx-auto d-block" alt="...">
    </div>
  </div>
</div>
<div class=" p-3 text-light text-center">
    <p class="text-dark h2 letra">Tu Mascota</p>
    <h4 class="h2 text-dark letra">Siempre Segura</h4>
  </div>