
<div class="row ">
  <div class="col-sm col-sm p-3 align-self-center container w-50" >
    <img src="/img/logo.png" class="w-60 mx-auto d-block" alt="...">
  </div>
</div>
<div class="col-sm p-3 text-light text-center">
    <p class="text-dark h2 letra">Tu Mascota</p>
    <h4 class="h2 text-dark letra">Siempre Segura</h4>
  </div>