
body{
    background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffefba, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffefba, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position: relative;
padding-bottom: 8em;
min-height: 100vh;
--toggle-color: #fff;
--text-color: #ccc;
}
.grid-container {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 19rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
    margin-left: 10px;
    padding: 10px;
    
  }

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
.na {
    background-color: #3a3b3c;
}
.fot {
    background-color: #242526;
    
}
.ba{
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.letra{
    font-family: 'Oleo Script Swash Caps', cursive;
}
.letrap{
    font-family: 'Bungee Spice', cursive;
}
.perfilm{
    width: 90px;
    height: 90px;
    border-radius: 15px;
}
.formulario {
    background-image: url("/img/fondo.png");
    background-position: right;
    background-size: cover;
    padding: 50px;
    border-radius: 75px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    color: black;
    margin-block-end: 20px;
}
.formulario2 {
    background-image: url("/img/fondo.png");
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 75px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    color: black;
    margin-block-end: 20px;
   
}
.formulario3 {
    background-image: url("/img/fondo.png");
    background-position: center;
    background-size: cover;
    padding: 30px;
    border-radius: 75px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    color: black;
    margin-block-end: 20px;
    left: 78px;
    width: calc(100% - 100px);
    
}
.baner2 {
   
    padding: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    color: black;
   
}
.baner {
    background: #A1FFCE; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FAFFD1, #A1FFCE); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    color: black;
}

.inf {
    background: #3e5151; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #3e5151, #decba4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #3e5151, #decba4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-control {
    background: rgba(0, 0, 0, .3);
    border-style: none;
    transition: 0.5s ease-in;
    outline: none;
    box-shadow: none;
    min-height: 3.125rem;
    line-height: initial;
}

.form-control:focus {
    background: none;
    box-shadow: none;
    outline: none;
}

.form-control::placeholder {
    color: white;
}

.ingresar {
    background: #222A3F;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    color: black;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    transition: 0.5s ease-in;
}

.ingresar:hover {
    color: black;
}

.crea{
    color: white;
    text-decoration-style: none;
    text-decoration-line: none ;
    cursor: pointer;
}

.olvide {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    cursor: pointer;
}

.olvide:hover {
    color: black;
    text-decoration-style: none;
    text-decoration-line: none;
    cursor: pointer;
}

.olvide1 {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    font-size: 15px;
    font-weight: 700!important;
    /* border: 2px solid white; */
    border-radius: 10px;
 
}

.olvide1:hover {
    background: none;
    color: black;
    text-decoration-style: none;
    text-decoration-line: none;
    cursor: pointer;
}
.logo{
    width: 15%;

}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
*{margin:0;padding:0}
i{margin-right:10px}
.navbar-logo{padding:15px;color:#fff}
.navbar-mainbg{background-color:#5161ce;padding:0}
#navbarSupportedContent{overflow:hidden;position:relative}
#navbarSupportedContent ul{padding:0;margin:0}
#navbarSupportedContent ul li a i{margin-right:10px}
#navbarSupportedContent li{list-style-type:none;float:left}
#navbarSupportedContent ul li a{color:rgba(255,255,255,.5);text-decoration:none;font-size:15px;display:block;padding:20px;transition-duration:.6s;transition-timing-function:cubic-bezier(0.68,-.55,.265,1.55);position:relative}
#navbarSupportedContent>ul>li.active>a{color:#5161ce;background-color:transparent;transition:all .7s}
#navbarSupportedContent a:not(:only-child):after{content:"\f105";position:absolute;right:20px;top:10px;font-size:14px;font-family:"Font Awesome 5 Free";display:inline-block;padding-right:3px;vertical-align:middle;font-weight:900;transition:.5s}
#navbarSupportedContent .active>a:not(:only-child):after{transform:rotate(90deg)}
.hori-selector{display:inline-block;position:absolute;height:100%;top:0;left:0;transition-duration:.6s;transition-timing-function:cubic-bezier(0.68,-.55,.265,1.55);background-color:#fff;border-top-left-radius:15px;border-top-right-radius:15px;margin-top:10px}
.hori-selector .left,.hori-selector .right{position:absolute;width:25px;height:25px;background-color:#fff;bottom:10px}
.hori-selector .right{right:-25px}
.hori-selector .left{left:-25px}
.hori-selector .left:before,.hori-selector .right:before{content:'';position:absolute;width:50px;height:50px;border-radius:50%;background-color:#5161ce}
.hori-selector .right:before{bottom:0;right:-25px}
.hori-selector .left:before{bottom:0;left:-25px}
@media (max-width:991px){#navbarSupportedContent ul li a{padding:12px 30px}
.hori-selector{margin-top:0;margin-left:10px;border-radius:25px 0 0 25px}
.hori-selector .left,.hori-selector .right{right:10px}
.hori-selector .left{top:-25px;left:auto}
.hori-selector .right{bottom:-25px}
.hori-selector .left:before{left:-25px;top:-25px}
.hori-selector .right:before{bottom:-25px;left:-25px}}
.swiper {
    width: 300px;
    height: 300px;
  }
 

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
  /* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
   
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #695CFE;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
    opacity: 0.9;
}
.sidebar.close{
    width: 100px;
   
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:left;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;

    width: calc(100% - 250px);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}
